body{
	background-color: #44A1A0;
}
.hidden-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.row{
	padding: 10px;
	align-items: center;
	text-align: center;
}
.battery-content {
	padding: 0 430px 0 430px;
	margin-bottom: 20px;
}
.battery-line{
	height: 68px;
	border-style: solid;
	border-color: #393E41;
	border-width: 5px;
	border-radius: 6px;
}
.battery-row{
	height: 100%;
	width: 440px;
	background-color: #F7DD4C;
	border-radius: 3px 0 0 3px;
}
.battery-power{
	display: inline-block;
	background-color: #F7DD4C;
	height: 100%;
	width: 20px;
}
.battery-eye{
	display: inline-block;
	margin: 5px 90px 0px 90px;
	background-color: #393E41;				
	height: 25px;
	border-radius: 100%;
}
.battery-mouth{		
	margin: 5px 160px 10px 160px;
	border-bottom-left-radius: 80%;
	border-bottom-right-radius: 80%;
	border: 6px solid #393E41;
	border-top: 0;
	/*border-bottom: 0;*/
}
.child-battery-content{
	margin-top: -85px;
	margin-left: 895px;
	border-style: solid;
	border-color: #393E41;
	border-width: 5px;
	border-radius: 0 6px 6px 0;
	width: 10px;
	height: 40px;
}
.square{
	display: inline-block;
	background-color: red;
}